:root {
  --ghostwhite: #f7f7ff;
  --rosybrown: #c49991;
  --gunmetal: #2b303a;
  --zomp: #519e8a;
}

* {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--gunmetal);
}

body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.5fr 7fr 0.5fr;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: var(--zomp);
}

header,
footer {
  display: grid;
  place-items: center;
}

header {
  grid-area: header;
  font-size: 50px;
  font-weight: bold;
}

nav {
  grid-area: nav;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.degrees {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

span .degrees input {
  width: 20px;
}

.searchBar {
  display: grid;
  height: 50%;
  width: 100%;
  gap: 10px;
  justify-items: center;
  align-content: center;
}

.searchBar input {
  font-size: 16px;
  width: 90%;
  padding: 3%;
  border: 3px solid var(--gunmetal);
  border-radius: 5px;
  background-color: var(--rosybrown);
}

.searchBar button {
  font-size: 16px;
  padding: 2%;
  width: 90%;
  border: 3px solid var(--gunmetal);
  background-color: var(--rosybrown);
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  box-sizing: border-box;
  grid-area: main;
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 3fr 4fr;
  border-radius: 15px;
  background-color: var(--ghostwhite);
  padding: 2%;
  gap: 15px;
  border-radius: 5px;
  border: 3px solid var(--gunmetal);
  background: rgb(196, 153, 145);
  background: linear-gradient(
    180deg,
    rgba(196, 153, 145, 1) 0%,
    rgba(247, 247, 255, 0.6610293775713411) 80%
  );
}

.location {
  display: grid;
  place-items: center;
  font-size: 2em;
  border-bottom: 3px double var(--gunmetal);
}

.currentWeather {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "current current"
    "rain rain"
    "sunUp sunSet";
  text-align: center;
  font-size: 1.5em;
  border-bottom: 3px double var(--gunmetal);
}

.currentWeather div {
  place-content: center;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
}

.forecast div {
  display: grid;
}

.forecastDay {
  grid-template-rows: 1fr 2fr 2fr 2fr;
  text-align: center;
  padding: 1%;
}

#current {
  grid-area: current;
}

#rain {
  grid-area: rain;
}

footer {
  grid-area: footer;
}
